.pure-table {
  margin: 0.5em 0;
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;

  thead {
    background: #f6f6f6;
    border-bottom: 1px solid #CDCDCD;
  }

  th {
    text-align: left;
  }

  td {
    padding: 0.4em 1em;

    &.group {
      background-color: $grey-medium !important;
      font-weight: bold;
    }

    &.minimal {
      width: 1px;
      white-space: nowrap;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

.table-actions {
  font-size: 0.8em;
  text-align: right;

  .pure-button {
    padding: 0.4em 1em;
    position: relative;
    top: 1px;
  }
}

#main-title {
  .table-actions {
    position: relative;
    right: $base-font-size * -0.4;
  }
}

.table-filter {
  margin-bottom: 1em;
  font-size: 0.8em;

  .pure-form {
    margin: 0;
    display: inline-block;
    width: auto;

    input {
      display: inline-block;
      width: auto;
      margin: 0;
    }
  }

  .pure-button, .pure-button[type=submit] {
    padding: 0.5em 1em;
    margin-left: -4px;
  }
}
